body {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  background: ghostwhite;
}

.main-container {
  margin: 0px 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-placeholder {
  position: relative;
}
.header-placeholder input {
  background: white;
  border: 1px solid #b5bdc7;
  border-radius: 10px;
  width: 280px;
  height: 40px;
}
.header-placeholder img {
  position: absolute;
  top: 14%;
  right: 2%;
  width: 30px;
  height: 30px;
}
.header-button-one {
  width: 130px;
  height: 40px;
  background: #490df4;
  border: 2px solid #222426;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.header-button-two {
  width: 130px;
  height: 40px;
  background: #ffffff;
  border: 2px solid #222426;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.header-button-two span {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header-button-two img {
  position: relative;
  left: 10px;
}

.divider {
  height: 2px;
  background: #eceef7;
  margin: 1% 0%;
}
.wrapper-buttons {
  height: 78px;
  background: #222426;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper-buttons button {
  width: 136px;
  height: 38px;
  background: #222426;
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  margin: 0% 1%;
}

.wrapper-buttons span {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.wrapper-buttons :nth-child(7) {
  width: 87px;
  display: flex;
}
.wrapper-buttons :nth-child(7) span {
  width: 87px;
  justify-content: space-between;
  padding-top: 3%;
}

.wrapper-buttons :nth-child(8) {
  width: 159px;
  color: #b5bdc7;
  border: 1px solid #b5bdc7;
  display: flex;
  margin-left: 6%;
}
.wrapper-buttons :nth-child(8) span {
  width: 159px;
  color: #b5bdc7;
  justify-content: space-between;
  padding-top: 2%;
}

.icons-wrapper {
  height: 78px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 1%;
}

.icons-wrapper-left {
  display: flex;
}
.icons-wrapper-left span{
    padding: 0% 1%;
}
.icons-wrapper-left button {
  border: 2px solid #222426;
  border-radius: 10px;
  width: 83px;
  height: 38px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  background-color: #ffffff;
}
.icons-wrapper-left button span {
  display: flex;
  justify-content: space-between;
}
.icons-wrapper-left button span span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span-icons {
  border: 2px solid #222426;
  border-radius: 10px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span-icons span {
  width: 23.47px;
  height: 23.47px;
  background-color: black;
}

.span-word {
  display: flex;
  align-items: center;
}

.icons-wrapper-right button {
  border: 2px solid #222426;
  border-radius: 10px;
  width: 139px;
  height: 38px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #222426;
}
