body {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  background: ghostwhite;
  margin: 1% 2%;
}

.main-container {
  margin: 0px 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin-right: 40px;
}
.header :nth-child(n + 3) {
  font-size: 16px;
}
.header-placeholder {
  position: relative;
}
.header-placeholder input {
  background: white;
  border: 1px solid #b5bdc7;
  border-radius: 10px;
  width: 280px;
  height: 40px;
}
.header-placeholder input::placeholder {
  padding-left: 10px;
}
.header-placeholder img {
  position: absolute;
  top: 14%;
  right: 2%;
  width: 30px;
  height: 30px;
}
.header-button-one {
  width: 130px;
  height: 40px;
  background: #490df4;
  border: 2px solid #222426;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.header-button-two {
  width: 130px;
  height: 40px;
  background: #ffffff;
  border: 2px solid #222426;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-left: 20px;
}
.header-button-two span {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header-button-two img {
  position: relative;
  left: 10px;
}

.divider {
  height: 2px;
  background: #eceef7;
  margin: 15px 0px;
}

.container-buttons {
  display: flex;
  justify-content: space-between;
  background: #222426;
  height: 78px;
  border-radius: 10px;
  padding: 0px 15px;
  position: relative;
  z-index: 0;
}
.wrapper-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper-buttons button {
  width: 116px;
  height: 38px;
  background: #222426;
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  margin-right: 22px;
  position: relative;
}
.header-color {
  position: absolute;
  width: 22px;
  height: 34px;
  right: 96px;
  top: 0px;
  background: #31e8ff;
  border: 1px solid #ffffff;
  border-radius: 10px;
  z-index: -1;
}
.wrapper-buttons :nth-child(1) .header-color {
  background: #31e8ff;
}
.wrapper-buttons :nth-child(2) .header-color {
  background: #00ff93;
}
.wrapper-buttons :nth-child(3) .header-color {
  background: #8415ff;
}
.wrapper-buttons :nth-child(4) .header-color {
  background: #fd4dc7;
}
.wrapper-buttons :nth-child(5) .header-color {
  background-color: #ff8227;
}
.wrapper-buttons :nth-child(6) .header-color {
  background-color: #fdff00;
}
.wrapper-buttons span {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.wrapper-buttons :nth-child(7) {
  width: 87px;
  display: flex;
}
.wrapper-buttons :nth-child(7) span {
  width: 87px;
  justify-content: space-between;
  padding-top: 3%;
}
.last-button {
  display: flex;
  align-items: center;
}
.last-button button {
  width: 159px;
  height: 38px;
  background: #222426;
  border: 1px solid #b5bdc7;
  border-radius: 10px;
  color: #b5bdc7;
}
.last-button span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons-wrapper {
  height: 78px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 1%;
}
.icons-wrapper-left {
  display: flex;
}
.icons-wrapper-left button {
  border: 2px solid #222426;
  border-radius: 10px;
  width: 83px;
  height: 38px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  background-color: #ffffff;
}
.icons-wrapper-left button span {
  display: flex;
  justify-content: space-between;
}
.icons-wrapper-left button span span {
  display: flex;
  align-items: center;
}
.span-icons {
  border: 2px solid #222426;
  border-radius: 10px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.span-icons span {
  width: 23.47px;
  height: 23.47px;
  background-color: black;
}
.span-word {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}
.icons-wrapper-right :nth-child(2) {
  margin-left: 10px;
}
.icons-wrapper-right button {
  border: 2px solid #222426;
  border-radius: 10px;
  width: 139px;
  height: 38px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #222426;
  background-color: #ffffff;
}
.filter-sort {
  display: flex;
  justify-content: space-between;
  margin: 1% 0%;
}
.filter {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
}
.filter img {
  margin-right: 7%;
}
.sort {
  display: flex;
  align-items: center;
  margin-right: 4px;
}
.sort :nth-child(1) {
  margin-left: 20px;
}
.sort a {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #490df4;
  margin-right: 5px;
  margin-left: 5px;
}

.jobs-container {
  position: relative;
}
.jobs-section {
  height: 94px;
  background: #ffffff;
  border: 1px solid #222426;
  box-shadow: 0px 2px 8px rgb(22 32 75 / 19%);
  border-radius: 10px;
  padding: 0% 15px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  position: relative;
}
.jobs-section-color {
  height: 89px;
  width: 45px;
  position: absolute;
  z-index: -1;
  background: #8415ff;
  border: 1px solid #222426;
  border-radius: 10px;
  left: -5px;
  top: 4px;
}
.jobs-container :nth-child(2) .jobs-section-color {
  background-color: #ff8227;
}
.jobs-container :nth-child(3) .jobs-section-color {
  background-color: #fdff00;
}
.jobs-container :nth-child(4) .jobs-section-color {
  background-color: #00ff93;
}
.jobs-section-left {
  display: flex;
  align-items: center;
}
.job-offers {
  margin-left: 20px;
}
.job-offers :nth-child(1) span {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-right: 10px;
}
.workplace {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #222426;
  margin-top: 15px;
  display: flex;
}
.workplace :nth-child(5) {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #490df4;
}
.separator {
  border: 1px solid #b5bdc7;
  margin: 0px 7px;
}
.jobs-section-right {
  display: flex;
  align-items: center;
}
.jobs-section-right button {
  width: 133px;
  height: 36px;
  border: 2px solid #222426;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  background-color: #ffffff;
  margin-left: 15px;
}
.solary :nth-child(1) {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #490df4;
}
.programming-languages {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.programming-languages span {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #222426;
  background: #f9f9fc;
  border-radius: 6px;
  padding: 5px 0px;
  margin: 0px 5px;
}

@media only screen and (max-width: 1200px) {
  .header-color {
    right: 88px;
  }
  .header-button-two {
    margin-left: 10px;
  }
  .wrapper-buttons button {
    width: 108px;
    margin-right: 10px;
  }
  .span-icons {
    width: 30px;
  }
  .span-word {
    padding: 0px 5px;
  }
  .icons-wrapper-right :nth-child(2) {
    margin-left: 5px;
  }
  .icons-wrapper-right button {
    width: 122px;
  }
  .jobs-section-color {
    left: -4px;
  }
}

@media only screen and (max-width: 1025px) {
  .header {
    margin-right: 20px;
  }
  .header-color {
    right: 66px;
  }
  .header-button-one {
    width: 120px;
    height: 36px;
    font-size: 16px;
  }
  .header-button-two {
    width: 120px;
    margin-left: 5px;
    height: 36px;
    font-size: 14px;
  }
  .header-placeholder input {
    width: 250px;
  }
  .header :nth-child(n + 3) {
    font-size: 14px;
  }
  .wrapper-buttons button {
    width: 87px;
  }
  .icons-wrapper-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .jobs-section-color {
    left: -4px;
  }
}
